<!DOCTYPE html>
<html>
  <head>
    <title>Lakes</title>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nathanial Lubitz">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <style>
    .thumbnail {
      cursor: pointer;
    }
    body,
    h1,
    h2,
    h4,
    h5,
    h6 {
      color: rgb(130, 172, 134);
    }
    .heading,
    .title {
      background-color: rgba(0,0,0,.7);
      display: inline-block;
      border-left: 60vw;
      padding: 24px;
    }
    body {
      background-image: url("/wood.jpg");
      max-width: 100vw;
    }
    .row {
      margin: 0;
    }
    .well {
      border-radius: 32px;
    }
    .food,
    .heading,
    .jumbotron,
    .title,
    .well,
    .grey-area
    img {
      box-shadow: 0 0 48px black;
    }
    .thumbnail {
      background-color: rgba(0,0,0,0);
    }
    #logo {
      box-shadow: 0 0 48px black;
      border-radius: 100px;
    }
    .jumbotron, .grey-area{
      background-color: #898480;
      color: white;
    }
    .food tbody tr:nth-child(even) {
      background-color: #898480;
      border: 1px solid black;
    }
    .food {
      color: black;
      width: 100%;
    }
    .food tbody tr td {
      padding: 16px;
    }
    .food tbody tr:nth-child(odd) {
      background-color: #66625f;
      color: white;
      border: 1px solid black;
    }
  </style>
  <body>
    <script>
      $("body").css("background-position", "0px " + (window.localStorage.getItem("position") + "px"));
      window.addEventListener("beforeunload", () => {
        console.log((window.pageYOffset % 256) - (document.documentElement.clientTop));
        window.localStorage.setItem("position", (window.pageYOffset % 256) - (document.documentElement.clientTop));
      });
    </script>
    <%= yield %>
  </body>
</html>
